*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Gotham Pro','Arial', sans-serif;
    font-size: 16px;
    line-height: 150%;
}

h1,h2,h3,h4,h5{
    font-weight: bold;
}

h1{
    font-size: 40px;
    line-height: 120%;
}

/*-----header-----*/
.header__video{
    position: absolute;
    right: 0;
    top: 0;
    height: 689px;
    z-index: -100;
    overflow: hidden;
}


.header{
    background: url("../img/fon-mask.png") no-repeat top right;
    min-height: 750px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Bar1{
    color: black;
}

.Bar2{
    color: gray;
}

.header__wrapper{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 40px;
    margin-top: 60px;
}

.header__content{
    width: 509px;
    height: 208px;
    margin-top: 204px;
    margin-bottom: 238px;
}

.main{
    margin-top: 750px;
}

/*-----section-----*/
.section__wrapper{
    width: 1200px;
    margin: 0 auto;
}



/*-----Products-----*/
.products__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 72px;
}

.zagalovok{
    text-align: center;
}

.advantages__item{
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px;
    width: 280px;
}

.TextAdvantages{
    flex-wrap: wrap;
    padding-left: 40px;
    
}

.advantages__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.products__item{
    box-sizing: border-box;
    border-radius: 10px;
    border: black;
    box-shadow: 0 0 10px 5px rgb(90, 90, 90);
    width: 380px;
    height: 398px;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
}

.PET{
    margin-top: 100px;
    text-align: center;
}

.products__item2{
    box-sizing: border-box;
    width: 380px;
    border-radius: 10px;
    height: 398px;
    background-color: #59BBF2;
    box-shadow: 0 0 10px 5px  rgb(90, 90, 90);
    color: white;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
}

/*-----Sampels-----*/
.samples .slider__wrapper{
    position: relative;
}

.samples__title{
    text-align: center;
    flex-wrap: wrap;

}

.samples .slider__list{
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    height: 278px;
}

.page{
    margin-top: 20px;
    text-align: center;
}

.Samples__Product1{
   background-color: wheat;
}

.slider__button{
    position: absolute;
    top: 50%;
}

.slider__button--next{
    left: 1225px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

.slider__button--prev{
    left: -70px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

a:hover{
    color: #59BBF2;
}


a:active{
    background: rgba(150,150,150,.5);
}

/*-----Image-----*/


.Papper{
    position: relative;
    padding-left: 50px;
    padding-top: 100px;
}

.Elipse{
    position: absolute;
    padding-right:200px;
    padding-top: 50px;
}

.imgAdvanages{
    margin-top: 20px;
    height: 60px;
    flex-wrap: wrap;
}

/*-----feature-----*/

.section__features{
    box-sizing: border-box;
    text-align: right;
    
    width: 380px;
    height: 398px;
    font-size: 22px;
    line-height: 140%;
   
}

@media(max-width:1200px){
    .section__wrapper{
        width: 100%;
    }
    .header__wrapper{
        width: 100%;
    }
    .products__item{
        width: 30%;
    }
    .products__item2{
        width: 30%;
    }
}

@media(max-width :900px){
    .products__item{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    .products__item2{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
}

@media(max-width :768px){
    .header__video{
        display: none;
    }
    .header{
        background: #59BBF2;
    }
    .slider__button--next, .slider__button--prev{
        display: none;
    }
    .Bar3{
        display: none;
    }
}